<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
    <form th:object="${profile}" method = "POST">

        <h4>Login</h4>
        <label>Username</label>
        <input type="text" name="username"/>
        <br/><br/>

        <label>Password</label>
        <input type="text" name="password"/>
        <br/><br/>

        <input type="submit" name = "action" value="Login"/>

        <hr>
        <h4>Profile Information</h4>

        <label>Profile ID</label>
        <input type="text" th:field="*{profileId}"/>
        <br/><br/>

        <label>User ID</label>
        <input type="text" th:field="*{user.getUserId()}"/>
        <br/><br/>

        <label>Name</label>
        <input type="text" th:field="*{profileName}"/>
        <br/><br/>

        <label>Description</label>
        <input type="text" th:field="*{profileDescription}"/>
        <br/><br/>


        <input type="submit" name = "action" value="Create"/>
        <input type="submit" name = "action" value="Update"/>
        <input type="submit" name = "action" value="Delete"/>
    </form>
</div>
</body>
</html>